*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.to-do{
    border: 2px solid black;
    background-color: #fff;
    max-width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.heading {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.heading > h2{
    color: #002765;
}

.heading > img{
    width: 30px;
}


.input-row{
    background-color: #edeef0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 20px;
}

input{
    flex: 1;
    background-color: transparent;
    border: none;
    padding: 10px;
    font-weight: bold;
}
button{
    border: none;
    background: #ff5945;
    color: #fff;
    padding: 16px 50px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


ul li{
    list-style: none;
    font-size: 16px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
    border: 1px solid black;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    /* border: 1px solid black; */
    border-radius: 50%;
    background-image: url(images/uncheck.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 12px;
    top: 9px;
}

ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/check.png);
}